<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="profileForm" (ngSubmit)="save()" novalidate>
      <ion-card-header *ngIf="profile.id != null" color="primary" translate>{{
        "EDITAR PERFIL"
      }}</ion-card-header>
      <ion-card-header *ngIf="profile.id == null" color="primary" translate>{{
        "AGREGAR UN PERFIL"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "PERFIL " }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="description"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.description"
            >
              <div
                class="error-message"
                *ngIf="
                profileForm.get('description').hasError(validation.type) &&
                  (profileForm.get('description').dirty ||
                  profileForm.get('description').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
       
          
         
         
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>

  </ion-fab>
</ion-content>