:host {
    ion-content {
        --background: var(--ion-background-color, transparent);
        --ion-item-background: var(--ion-background-color, transparent);
    }
}


:host {
    ion-content {
        --background: var(--ion-background-color, transparent);
        --ion-item-background: var(--ion-background-color, transparent);
    }
  }
  

    ion-card {
        background-color: whitesmoke;
        margin: auto;
    }
    ion-content{
      ion-row{
        ion-col{
          ion-item{
            background-color: whitesmoke;
          }
        }
      }
    }

      ion-footer{
        position: absolute;
        align-items: center;
        --background: var(--ion-background-color, transparent);
        background-color: transparent;
        --ion-item-background: var(--ion-background-color, transparent);
        //background-color: green;
        //width: 90%;
        bottom: 0;


        ion-card{
          width: fit-content;
          margin: auto;
          background-color: green;  
        }

        ion-title{
          font-size:xx-large;
          font-weight: bold;
        }
    }
