<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getProducts()" icon-only>
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="isLoading"
        ><i>{{ "Cargando" }} {{ "Ventas" }} ... </i></span
      >
      <span *ngIf="!isLoading">{{ "Lista" }} {{ "de" }} {{ "Ventas" }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen = "true">
  <ion-row>
    <ion-col>
      <form [formGroup]="clienteForm" (ngSubmit)="save()" novalidate>
        <ion-item>
          <ion-icon name="person-add-outline" style="margin-right: 10px"></ion-icon>
          <ion-label floating>
            <span class="input-group-addon">{{ "Cliente" }}:</span>
          </ion-label>
          <ion-select
            class="form-control"
            formControlName="sys_cliente_id"
            (change)="setCliente(selectedCliente)"
          >
              <ion-select-option
                *ngFor="let cliente of clientes"
                [value]="cliente.id"
                [selected]="cliente.id == inputCliente ? true : null"
                >{{ cliente.descrip }}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-col>

    <ion-col row-sm-1>
      <form [formGroup]="fdpForm" (ngSubmit)="save()" novalidate>
        <ion-item>
          <ion-icon name="card-outline" style="margin-right: 10px"></ion-icon>
            <p>  </p>
          <ion-label floating>
            <span class="input-group-addon">{{ "Forma de Pago" }}:</span>
          </ion-label>
          <ion-select  class="form-control" formControlName="sys_fdp_id" (change)="setFdp(selectedFdp)">
                  <ion-select-option *ngFor="let fdp of fdps" [value]="fdp.id" [selected]="fdp.id == inputFdp ? true : null" >{{ fdp.descrip }}</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-col>

  </ion-row>
  <ion-card class="background-theme">
    <ion-card-content class="ion-padding" hide-fab class="background">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item class="ion-no-padding">
              <ion-searchbar
                class="searchBar"
                #inputSearch
                [(ngModel)]="product"
                placeholder="{{ '¿QUE PRODUCTO ESTAS BUSCANDO?' }}"
                (ionInput)="getItems($event)"
              ></ion-searchbar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br />
      <ion-grid class="table" *ngIf = "product">
        <ion-row
          
          *ngFor="let u of products; let i = index"
          [ngClass]="[
            i % 2 == 1 ? 'row_color' : '',
            hide_sm ? 'row_padding' : '',
            1 == 1 ? 'hoverable' : ''
          ]"
          class="ion-align-items-start ion-justify-content-around"
          border-bottom
        >
          <ion-col col-sm-12 col-12 class="ion-align-self-center">
            <ion-item style="background-color: transparent;">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <b>{{ "DESCRIPCION" }}:</b> {{ u.descrip }}
                  <br />
                  <b>{{ "PRECIO:" }}:</b> {{ u.sell_price }} <br />
                  <b>{{ "STOCK:" }}:</b> {{ u.stock }} <br />
                </ion-text>
              </ion-label>
              <ion-button item-end (click)="addCarrito(i)" class="table-button">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <br />
      </ion-grid>
      <ion-grid>
        <ion-row
          *ngFor="let u of productsCarrito; let i = index"
          [ngClass]="[
            i % 2 == 1 ? 'row_color' : '',
            hide_sm ? 'row_padding' : '',
            1 == 1 ? 'hoverable' : ''
          ]"
          class="ion-align-items-start ion-justify-content-around"
          border-bottom
        >
          <ion-col col-sm-12 col-12 class="ion-align-self-center">
            <ion-item style="background-color: transparent;">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <b>{{ "DESCRIPCION" }}:</b> {{ u.descrip }}
                  <br />
                  <b>{{ "PRECIO" }}:</b> {{ u.sell_price }} <br />
                  <b>{{ "CANT." }}:</b> {{ u.cant }} <br />
                </ion-text>
              </ion-label>
              <ion-button item-end (click)="addCantidad(i)" class="table-button">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
              <ion-button item-end (click)="restCantidad(i)" class="table-button">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              <ion-button item-end (click)="deleteProd(i)" class="table-button">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="alarm-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="cash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

document-text-outline

<ion-footer >
    <ion-card>
      <ion-card-content>
          <ion-title color="light" size="large">TOTAL: 999999.99</ion-title>
      </ion-card-content>
    </ion-card>
</ion-footer>
