:host {
    ion-content {
        --background: var(--ion-background-color, transparent);
        --ion-item-background: var(--ion-background-color, transparent);
    }
}

ion-content{
    ion-grid{
        height: 100%;
        ion-row{
            height: 100%;
            ion-card {
                background-color: whitesmoke;
                margin: auto;
                max-width: 400px;
                ion-card-header {
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 0px;
                }
                ion-card-content{
                    form {
                        text-align: center;
                        .invalid-recovery{
                            color: red;
                        }
                        ion-label{
                            color: var(--ion-color-step-550,#737373);;
                        }
                    }
                }
            }
        }
    }    
}