<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="clientForm" (ngSubmit)="save()" novalidate>
      <ion-card-header *ngIf="client.id != null" color="primary" translate>{{
        "EDITAR CLIENTE"
      }}</ion-card-header>
      <ion-card-header *ngIf="client.id == null" color="primary" translate>{{
        "AGREGAR UN CLIENTE"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "NOMBRE Y APELLIDO" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="apynom"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.apynom"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('apynom').hasError(validation.type) &&
                  (clientForm.get('apynom').dirty ||
                  clientForm.get('apynom').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "TELEFONO" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="landline"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.landline"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('landline').hasError(validation.type) &&
                  (clientForm.get('landline').dirty ||
                  clientForm.get('landline').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "CELULAR" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="phone"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.phone"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('phone').hasError(validation.type) &&
                  (clientForm.get('phone').dirty ||
                  clientForm.get('phone').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "DNI" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="dni"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.dni"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('dni').hasError(validation.type) &&
                  (clientForm.get('dni').dirty ||
                  clientForm.get('dni').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "MARGEN COMPRA" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="purchase_margin"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.purchase_margin"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('purchase_margin').hasError(validation.type) &&
                  (clientForm.get('purchase_margin').dirty ||
                  clientForm.get('purchase_margin').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "CATEGORIA IVA" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="iva_category"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.iva_category"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('iva_category').hasError(validation.type) &&
                  (clientForm.get('iva_category').dirty ||
                  clientForm.get('iva_category').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "DOMICILIO" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="address"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.address"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('address').hasError(validation.type) &&
                  (clientForm.get('address').dirty ||
                  clientForm.get('address').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "TIPO CLIENTE" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="client_typeId"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.client_typeId"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('client_typeId').hasError(validation.type) &&
                  (clientForm.get('client_typeId').dirty ||
                  clientForm.get('client_typeId').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "DESCUENTO" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="discount"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.discount"
            >
              <div
                class="error-message"
                *ngIf="
                  clientForm.get('discount').hasError(validation.type) &&
                  (clientForm.get('discount').dirty ||
                  clientForm.get('discount').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>
    <!-- <button ion-fab mini color="primary" (click)="scrollToTop()">
          <ion-icon name="arrow-up"></ion-icon>
        </button> -->
  </ion-fab>
</ion-content>

