:host {
    ion-content {
        --background: var(--ion-background-color, transparent);
        --ion-item-background: var(--ion-background-color, transparent);
    }
}


:host {
    ion-content {
        --background: var(--ion-background-color, transparent);
        --ion-item-background: var(--ion-background-color, transparent);
    }
  }
  

    ion-card {
        background-color: whitesmoke;
        margin: auto;
    }
          
  