<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getProducttype()" icon-only>
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="downloadExcel()" icon-start outline>
        <ion-icon name="download"></ion-icon>Descargar
      </ion-button>
      <ion-button (click)="addProducttype()" icon-start outline>
        <ion-icon name="profile-add"></ion-icon>
        {{ "Nuevo Tipo de Producto" }}
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="isLoading"
        ><i>{{ "Cargando" }} {{ "Tipos de Productos" }} ... </i></span
      >
      <span *ngIf="!isLoading">{{ "Lista" }} {{ "de" }} {{ "Tipos de Productos" }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <ion-card-content class="ion-padding" hide-fab class="background">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item class="ion-no-padding">
             
              <ion-searchbar
                class="searchBar"
                #inputSearch
                [(ngModel)]="producttype"
                placeholder="{{ '¿QUE ESTAS BUSCANDO?' }}"
                (ionInput)="getItems($event)"
              ></ion-searchbar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br />
      <ion-grid class="table">
        <ion-row
          *ngFor="let u of productstypes; let i = index"
          [ngClass]="[
            i % 2 == 1 ? 'row_color' : '',
            hide_sm ? 'row_padding' : '',
            1 == 1 ? 'hoverable' : ''
          ]"
          class="ion-align-items-start ion-justify-content-around"
          border-bottom
        >
          <ion-col col-sm-12 col-12 class="ion-align-self-center">
            <ion-item style="background-color: transparent;">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <b>{{ "DESCRIPCION" }}:</b> {{ u.description }} <br />
                  <b>{{ "Gain" }}:</b> {{ u.gain }}
                  <br />
              
                </ion-text>
              </ion-label>
              <ion-button item-end (click)="delete(i)" class="table-button">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
              <ion-button item-end (click)="edit(i)" class="table-button">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <br />
        
      </ion-grid>
    </ion-card-content>
  </ion-card>
 
</ion-content>