<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getUsers()" icon-only>
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="downloadExcel()" icon-start outline>
        <ion-icon name="download"></ion-icon>Descargar
      </ion-button>
      <ion-button (click)="addUser()" icon-start outline>
        <ion-icon name="person-add"></ion-icon>
        {{ "Nuevo Usuario" }}
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="isLoading"
        ><i>{{ "Cargando" }} {{ "Usuarios" }} ... </i></span
      >
      <span *ngIf="!isLoading">{{ "Lista" }} {{ "de" }} {{ "Usuarios" }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <ion-card-content class="ion-padding" hide-fab class="background">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item class="ion-no-padding">
              <ion-searchbar
                class="searchBar"
                #inputSearch
                [(ngModel)]="user"
                placeholder="{{ '¿QUE ESTAS BUSCANDO?' }}"
                (ionInput)="getItems($event)"
              ></ion-searchbar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br />
      <ion-grid class="table">
        <ion-row
          *ngFor="let u of users; let i = index"
          [ngClass]="[
            i % 2 == 1 ? 'row_color' : '',
            hide_sm ? 'row_padding' : '',
            1 == 1 ? 'hoverable' : ''
          ]"
          class="ion-align-items-start ion-justify-content-around"
          border-bottom
        >
          <ion-col col-sm-12 col-12 class="ion-align-self-center">
            <ion-item style="background-color: transparent;">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <b>{{ "EMAIL" }}:</b> {{ u.email }} <br />
                  <b>{{ "NICK" }}:</b> {{ u.nick }} <br/>
                  <b>{{ "GUPO" }}:</b> {{ u.groupname }} <br />
                </ion-text>
              </ion-label>
              <ion-button item-end (click)="delete(i)" class="table-button">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
              <ion-button item-end (click)="edit(i)" class="table-button">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <br />

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>


<!--


<ion-content>
  <ion-card class="background-theme">
    <ion-card-content class="ion-padding" hide-fab class="background">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item class="ion-no-padding">
              <ion-searchbar
                class="searchBar"
                #inputSearch
                [(ngModel)]="user"
                placeholder="{{ '¿QUE ESTAS BUSCANDO?' }}"
                (ionInput)="getItems($event)"
              ></ion-searchbar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br />
      <ion-grid class="table">
        <ngx-datatable
        [rows]="users"
        [ngClass]="tableStyle"
        [rowHeight]="'auto'"
        [headerHeight]="40"
        [columnModel]="'force'"
        >

          <ngx-datatable-column name="Usuario"></ngx-datatable-column>
          <ngx-datatable-column name="Fecha Creacion"></ngx-datatable-column>
          <ngx-datatable-column name="Email"></ngx-datatable-column>
          <ngx-datatable-column name="Empleado"></ngx-datatable-column>
          <ngx-datatable-column name="Rol"></ngx-datatable-column>
          <ngx-datatable-column name="Estado"></ngx-datatable-column>

          <ngx-datatable-column name="Actions" sortable="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <ion-button size="small" fill="outline" (click)="open(row)">Acciones</ion-button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ion-grid>
</ion-content>-->
