<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="prodfracForm" (ngSubmit)="save()" novalidate>
      <ion-card-header color="primary" translate>{{
        "AGREGAR PRODUCTO FRACCIONADO"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Descripcion" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="descrip"
              clearInput
            ></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.descrip"
            >
              <div
                class="error-message"
                *ngIf="
                  userForm.get('descrip').hasError(validation.type) &&
                  (userForm.get('descrip').dirty ||
                    userForm.get('descrip').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Codigo de Barras" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              formControlName="codbar"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.codbar"
            >
              <div
                class="error-message"
                *ngIf="
                  userForm.get('codbar').hasError(validation.type) &&
                  (userForm.get('codbar').dirty ||
                    userForm.get('codbar').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Margen de ganancia" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="gain"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Precio de Venta" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="sell_price"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Stock Inicial" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="stock"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Activo" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="active"
              clearInput
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>
  </ion-fab>
</ion-content>
