<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="employeeForm" (ngSubmit)="save()" novalidate>
      <ion-card-header *ngIf="employee.id != null" color="primary" translate>{{
        "EDITAR EMPLEADO"
      }}</ion-card-header>
      <ion-card-header *ngIf="employee.id == null" color="primary" translate>{{
        "AGREGAR UN EMPLEADO"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "APELLIDO " }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="last_name"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.last_name"
            >
              <div
                class="error-message"
                *ngIf="
                employeeForm.get('last_name').hasError(validation.type) &&
                  (employeeForm.get('last_name').dirty ||
                  employeeForm.get('last_name').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "NOMBRE" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="first_name"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.first_name"
            >
              <div
                class="error-message"
                *ngIf="
                employeeForm.get('first_name').hasError(validation.type) &&
                  (employeeForm.get('first_name').dirty ||
                  employeeForm.get('first_name').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "DNI" }}: </span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="dni"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "FECHA" }}:</span>
            </ion-label>
            <ion-datetime value="2020-10-22" min="2020" max="2050"
              [dayShortNames]="customDayShortNames"
              displayFormat="DDD. MMM DD, YY"
              monthShortNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, oktubre, noviembre, diciembre"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "DIRECCION" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="address"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.address"
            >
              <div
                class="error-message"
                *ngIf="
                employeeForm.get('address').hasError(validation.type) &&
                  (employeeForm.get('address').dirty ||
                  employeeForm.get('address').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        
          
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "TELEFONO" }}: </span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="phone"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "SALARIO" }}: </span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="salary"
              clearInput
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>

  </ion-fab>
</ion-content>
