<!--  -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>    
    <ion-card-header color="primary" translate>
      Editar Perfil
    </ion-card-header>
    <!-- <ion-card-title color="tertiary" translate>
        <span>Modifique los datos que desee del usuario.</span>
    </ion-card-title> -->
    <ion-card-content>
        
            <ion-item class="activated">
              <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
              <ion-label position="floating">Apellido</ion-label>
              <ion-input class="form-control" type="text" formControlName="last_name" clearInput></ion-input>
            </ion-item>
            <ion-item class="activated">
              <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
              <ion-label position="floating">Nombre</ion-label>
              <ion-input in-input="first_name" class="form-control" type="text" formControlName="first_name" clearInput></ion-input>
            </ion-item>
            <ion-item class="activated">
              <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
              <ion-label position="floating">Dni</ion-label>
              <ion-input in-input="dni" class="form-control" type="number" formControlName="dni" clearInput></ion-input>
            </ion-item>
            <ion-item class="activated">
              <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
              <ion-label position="floating">E-mail</ion-label>
              <ion-input in-input="email" class="form-control" type="email" formControlName="email" clearInput></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
              <ion-thumbnail style="object-fit: cover;" item-start *ngIf="imagen!=null">
                <img style="object-fit: cover;" src="{{imagen}}" />
              </ion-thumbnail>
            </ion-item>
<!--             <ion-item>
              <ion-button (click)="pickImg()" >Pick Image</ion-button>
            </ion-item> -->
    </ion-card-content>
    <ion-card-content class="ion-content-right ion-float-right">
      <ion-button (click)="cancel()" shape="round" fill="outline">
        {{'CANCELAR' }}
      </ion-button>
      <ion-button id="sys_users_mod_btn_save_pin" type="submit" shape="round" fill="outline">
        {{'GUARDAR' }}
      </ion-button>
    </ion-card-content>
  </form>
  </ion-card>

  <ion-card class="background-theme">
      <ion-card-header color="primary" translate>Cambiar Contraseña</ion-card-header>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Actual: </ion-label>
              <ion-input class="form-control" type="password" formControlName="oldPassword" clearInput></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nueva: </ion-label>
              <ion-input class="form-control" type="password" formControlName="newPassword" clearInput></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirmar: </ion-label>
              <ion-input class="form-control" type="password" formControlName="repPassword" clearInput></ion-input>
            </ion-item>
        </ion-card-content>
        <ion-card-content class="ion-content-right ion-float-right">
          <ion-button (click)="cancel()" shape="round" fill="outline">
            {{'CANCELAR' }}
          </ion-button>
          <ion-button id="sys_users_mod_btn_save_pin" type="submit" shape="round" fill="outline">
            CAMBIAR
          </ion-button>
        </ion-card-content>
      </form>
    </ion-card>

</ion-content>
