<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="productForm" (ngSubmit)="save()" novalidate>
      <ion-card-header *ngIf="product.id != null" color="primary" translate>{{
        "EDITAR PRODUCTO"
      }}</ion-card-header>
      <ion-card-header *ngIf="product.id == null" color="primary" translate>{{
        "AGREGAR UN PRODUCTO"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Descripcion" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="descrip"
              clearInput
            ></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.descrip"
            >
              <div
                class="error-message"
                *ngIf="
                productForm.get('descrip').hasError(validation.type) &&
                  (productForm.get('descrip').dirty ||
                  productForm.get('descrip').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Codigo de Barras" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              formControlName="codbar"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.codbar"
            >
              <div
                class="error-message"
                *ngIf="
                productForm.get('codbar').hasError(validation.type) &&
                  (productForm.get('codbar').dirty ||
                  productForm.get('codbar').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Tipo" }}:</span>
            </ion-label>
            <ion-select
              class="form-control"
              formControlName="sys_tipo_id"
              (change)="setTipo(selectedTipo)"
            >
              <ion-select-option
                *ngFor="let tipo of tipos"
                [value]="tipo.id"
                [selected]="tipo.id == inputTipo ? true : null"
                >{{ tipo.descrip }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Unidad" }}:</span>
            </ion-label>
            <ion-select
              class="form-control"
              formControlName="sys_unidad_id"
              (change)="setUnidad(selectedUnidad)"
            >
              <ion-select-option
                *ngFor="let unidad of unidades"
                [value]="unidad.id"
                [selected]="unidad.id == inputUnidad ? true : null"
                >{{ unidad.descrip }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Precio de Costo" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="cost_price"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Precio de Venta" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="sell_price"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Stock Inicial" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="stock"
              clearInput
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Activo" }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="number"
              formControlName="active"
              clearInput
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>
  </ion-fab>
</ion-content>
