<ion-content class="ion-padding">
  <ion-card class="background-theme">
    <form [formGroup]="paymentmethodForm" (ngSubmit)="save()" novalidate>
      <ion-card-header *ngIf="paymentmethod.id != null" color="primary" translate>{{
        "EDITAR METODO DE PAGO"
      }}</ion-card-header>
      <ion-card-header *ngIf="paymentmethod.id == null" color="primary" translate>{{
        "AGREGAR UN METODO DE PAGO"
      }}</ion-card-header>
      <ion-card-content>
        <ion-list no-line>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "METODO DE PAGO " }}:</span>
            </ion-label>
            <ion-input
              class="form-control"
              type="text"
              formControlName="description"
              clearInput
            ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.description"
            >
              <div
                class="error-message"
                *ngIf="
                paymentmethodForm.get('description').hasError(validation.type) &&
                  (paymentmethodForm.get('description').dirty ||
                  paymentmethodForm.get('description').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label floating>
              <span class="input-group-addon">{{ "Tipo de Producto" }}:</span>
            </ion-label>
            <ion-select
              class="form-control"
              formControlName="sys_group_id"
              (change)="setGroup(selectedGroup)"
            >
              <ion-select-option
                *ngFor="let group of groups"
                [value]="TipopId.id"
                [selected]="TipopId.id == inputGroup ? true : null"
                >{{ TipopId.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
       
          
         
         
        </ion-list>
      </ion-card-content>
      <ion-card-content class="ion-content-right ion-float-right">
        <ion-button (click)="cancel()" shape="round" fill="outline">
          {{ "CANCELAR" }}
        </ion-button>
        <ion-button type="submit" shape="round" fill="outline">
          {{ "GUARDAR" }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-fab bottom right>

  </ion-fab>
</ion-content>